{% extends "base.html" %}
{% block title %}Editoras{% endblock %}

{% block content %}
<h2 class="mb-4">Lista de Editoras</h2>

<a href="{{ url_for('nova_editora') }}" class="btn btn-success mb-3">
  Nova Editora
</a>

<table class="table table-hover align-middle">
  <thead class="table-primary">
    <tr>
      <th>ID</th>
      <th>Nome da Editora</th>
      <th>Endereço</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for editora in editoras %}
    <tr>
        <td class="text-center">
  <a href="{{ url_for('editar_editora', id=editora.ID_editora) }}" class="btn btn-sm btn-warning">Editar</a>
  <form action="{{ url_for('excluir_editora', id=editora.ID_editora) }}" method="post" class="d-inline">
    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir esta editora?')">
      Excluir
    </button>
  </form>
</td>

      <td>{{ editora.ID_editora }}</td>
      <td>{{ editora.Nome_editora }}</td>
      <td>{{ editora.Endereco_editora }}</td>
      <td>
        <a href="{{ url_for('editar_editora', id=editora.ID_editora) }}" class="btn btn-sm btn-warning">
          Editar
        </a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4" class="text-center text-muted">Nenhuma editora cadastrada.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
